/BiomeGenOilDesert.class
/BiomeGenOilOcean.class
/BiomeInitializer.class
/GenLayerAddOilDesert.class
/GenLayerAddOilOcean.class
/GenLayerBiomeReplacer.class
/OilPopulate$GenType.class
/OilPopulate.class
/SimplexNoise$Grad.class
/SimplexNoise.class
