/ContainerAutoWorkbench.class
/ContainerHopper.class
/ContainerRefinery.class
/GuiAutoCrafting.class
/GuiHopper.class
/GuiRefinery.class
/ContainerAutoWorkbench$1.class
/ContainerAutoWorkbench$2.class
